<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secrets, YO!</title>
</head>
<body>
    <% if(messages.errors) { %>
        <% for (var x of messages.errors) { %>
            <h3><%= x %></h3>
        <% } %>
    <% } %>
    <h1>Secrets, yo!</h1>
    <a href="/logout">Logout, yo!</a>
    <hr>
    <br>
    <h2>Post a Secret:</h2>
    <form action="/secrets" method="POST">
        Name: <input type="text" name="name">
        Message: <input type="text" name="message">
        <input type="submit" value="Submit">
    </form>
    <hr>
    <% for (let message of messages) { %>
        <a href="/secrets/<%=message.id%>"><h3><%= message.name %></h3>
        <p><%= message.message%></p></a>
        <h5>Replies:</h5>
        <% for (let y of message.comments) { %>
            <h5><%=y.name%> replied:</h5>
            <p><%=y.comment%></p>
            <% } %>  
            
    <form action="/comment/<%=message.id%>" method="POST">
        Name: <input type="text" name="name">
        Comment: <input type="text" name="comment">
        <input type="submit" value="Submit">
    </form>
    <hr>  
    <% } %>
</body>
</html>